* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    width: 16%;
    /* padding: 5px; */
    overflow: hidden;
}

.image-container img {
    border-radius: 10px;
    object-fit: cover;
    height:200px;
    width:100%;
}

.main {
    display: flex;
    overflow: hidden;
}
.main img {
    flex:30%;
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.main div {
    flex:70%;
}

aside {
    float:right;
    overflow: hidden;
}

