<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS Method</title>
  </head>
  <body>
    <h1>JS Methods - Simple 1</h1>

    <pre>
      let array = [ "Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon" ] 
              Sort the array using  method
              Reverse the array using  method
              Remove the first IT company from the array
              Remove the middle IT company or companies from the array
              Remove the last IT company from the array
              Remove all IT companies
      
    </pre>

    <script src="main.js"></script>
  </body>
</html>
